@model SitePessoalMasMelhor.Models.FormAcademica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormAcademica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instituição)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instituição)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duração)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duração)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDeConclusão)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDeConclusão)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormAcademicaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
